body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('img/bg.jpg') no-repeat
center center/cover;
    text-align: center;
    color: rgb(0, 0, 0);
}

header {
    padding: 20px;
    background-color: rgba(red, green, blue, alpha);
}

.logo {
    witdh: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    margin: 10px 0 0 0;
}

main {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: greenyellow;
    color:white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:nth-child(3) {
    background-color:palevioletred;
}